@import "bootstrap-sprockets";
@import "bootstrap";

// logo

#logo {
  color: rgb(71, 113, 230);
  font-weight: bold;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("path.jpg");
  height: 550px;
}

.jumbotron h1 {
  color: white;
}

.description {
  padding: 5px;
  margin-top: 5px;
  border-top: solid 1px #eaeaea;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 45px;
  margin-bottom: 45px;
  border-top: solid;
  color: green;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.center {
  align-self: center;
}
