<div class="container">
  <footer class="footer">
    <small>Copyrights &copy; <a href="https://github.com/shekhar-patil">Shekhar Patil</a></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
